{% extends 'demo/base.html' %}
{% load bootstrap3 %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="dailyView" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="monthToDate" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<script>

var categories = {{ categories|safe }};
var data_series = {{ data_series|safe }};
var tickInterval = {{ ndates|safe }} / 10;

var mtd_data = {{ mtd_data|safe }};

$(function () {
    $('#dailyView').highcharts({
        chart: {
            type: 'area',
            zoomType: 'x',

        },
        title: {
            text: 'Weeklyspending'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: categories,
            tickInterval: Math.ceil(tickInterval)
        },       
            
        yAxis: {
          	min: 0,
            title: {
                text: 'Spending in USD'
            	
        	},
            labels: {
                formatter: function () {
                    return '$' + this.value;
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b> ${point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
  		plotOptions: {
            area: {
            	stacking: 'normal',
                marker: {
                    enabled: true,
                    symbol: 'circle',
                    radius: 0,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            },

            series: {
                marker: {
                    enabled: false
                }
            }
        },
        series: data_series
    });

    
    $('#monthToDate').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Total spending this month is $' + "{{ mtd_total }}"
        },
        tooltip: {
            pointFormat: '{series.name}: <b>${point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.0f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Spending',
            colorByPoint: true,
            data: mtd_data
        }]
    });
});

</script>

{% endblock %}
