{% extends 'demo/base.html' %}
{% load bootstrap3 %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>

var cat = {{ cat|safe }};

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'area',
        },
        title: {
            text: 'Daily spending'
        },
        subtitle: {
            text: ''
        },
            xAxis: {
                categories: cat
            },        
            
            yAxis: {
            min: 0,
            title: {
                text: 'Rainfall (mm)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
  		plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
        	name: 'Food',
        	data: {{ food_expense }}
        }, {
            name: 'Entertainment',
            data: {{ entertainment_expense }}

        }]
    });
});

</script>

{% endblock %}
